body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
    padding: 60px 0;
}
.container-padding {
    display: inline-block;
    width: 100%;
    padding: 0 0 60px 0;
}
.container > .row {
    float: left;
    width: 100%;
    margin: 15px 0;
}
.container-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: grey;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
.btn-green{
    background-color: green;
}
.btn-red{
    background-color: red;
}

/*header start*/
.logo {
    width: 80px;
    height: 80px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
    }
/*header end*/
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.list-title {
    font-size: 20px;
    font-weight: 700;
}