body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
    padding: 60px 0;
}
.container-padding {
    display: inline-block;
    width: 100%;
    padding: 0 0 60px 0;
}
.container > .row {
    float: left;
    width: 100%;
    margin: 15px 0;
}
.container-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.btn {
    background-color: grey;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
.btn-green{
    background-color: green;
}
.btn-red{
    background-color: red;
}

/*header start*/
.logo {
    width: 80px;
    height: 80px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
    }
/*header end*/
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-title {
    font-size: 20px;
    font-weight: 700;
}

/* lightbox start */
.lightbox {
    padding: 0 25px;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3339;

}


.lightbox-content {
    position: relative;
}
.close-player {
    padding: 10px;
    color: #fff;
    background:none;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -55px;
    right: 0;
}

.close-player:hover {
    color: #333;
}
.modal-form {
    width: 500px;
    height: 500px;
    background-color: #ffff;
}