body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
    padding: 60px 0;
}
.container-padding {
    display: inline-block;
    width: 100%;
    padding: 0 0 60px 0;
}
.container > .row {
    float: left;
    width: 100%;
    margin: 15px 0;
}
.container-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.form-input {
    font-size: 18px;
    margin: 10px 0;
    border: none;
    width: 150%;
    border-bottom: 1px solid grey;
}

.form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.btn {
    padding: 3px 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.back {
    border: none #0474A4;
    background-color: #0474A4;
    color: #fff;
}
.submit {
    padding: 10px 40px;
}
.btn-green{
    background-color: green;
}
.btn-red{
    background-color: red;
}
.title {
    margin-bottom: 30px;
}

/*header start*/
.logo {
    margin: 10px 0;
    width: 80px;
    height: 80px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
}
.links-inner {
    position: relative;
    text-decoration: none; 
    color: #000; 
    font-size: 20px; 
    text-transform: capitalize;
}

.links-inner:hover::after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    top: 25px;
    
}
.links {
    display: flex; 
    flex-direction: row; 
    gap: 20px;
}
.logout {
    background-color: crimson;
}
/*header end*/
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 900;
}


.input-bordless{
    border: none;
}
.errors{
    color: red;
}
.btn-inner {
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btn-inner:after {
    position: absolute;
    content: '';
    width: 120%;
    height: 1px;
    background-color: #000;
    bottom: -10px;
    right: -40px;
}
.del {
    border: none red;
    background-color: red;
    color: #fff;
}
.add {
    border: none green;
    background-color: green;
    color: #fff;
}
.dec {
    border: none grey;
    background-color: grey;
    color: #fff;
}
.list-content{
    background: lightgrey;
}
