.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: grey;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
.btn-green{
    background-color: green;
}
