.pos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

