@import "~bootstrap/scss/bootstrap";

h1 {
  color: crimson;
}

/*logo start*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*logo end*/

.nav-custom {
  display: flex;
  align-items: center;
}

.section-padding{

  padding: 50px 0;
}
.btn-mar {
  margin-top: 20px;
}

.span-title{
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.modal{
  display: block;
  background-color: #00000099;
  .close{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 28px;
  }
}

.error-msg{
  color: red;
  font-size: 12px;
}

